input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: none;
}

a {
    cursor: pointer;
}

.navbar {
    /* background-color: #024b84; */
    /* background-color: #271a03; */
    background-color: #0B5562;
}

.btn-buscar {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    --bs-btn-border-color: #dee2e6;
    border-left: none;
}

.navbar-toggler {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.icono {
    border-radius: 50%;
}

.fa-solid {
    font-size: 20px;
    color: white;
}

.active {
    background-color: rgb(81, 148, 171);
    border-radius: 5px;
    font-weight: 500;
}